*{
  margin: 0;
  padding: 0;
}
body{
background-color: #252440;
}
#head{
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  background-color: white;
  height: 80px;
  font-family:times new roman;
}
#contenedor{
  margin: 0 auto;
  width: 1860px
}
#rr{
  height: 800px;
  width: 600px;
  float: left;
  background-image: url("Img/rr.png");
  margin: 10px;
  margin-top: 20px;
}
#ra{
  height: 800px;
  width: 600px;
  float: left;
  background-image: url("Img/ra.png");
  margin: 10px;
  margin-top: 20px;
}
  #rv{
    height: 800px;
    width: 600px;
    float: left;
    background-image: url("Img/rv.png");
    margin: 10px;
    margin-top: 20px;
  }
  #rr:hover{
    background-image: url("Img/rd.png");
  }
#ra:hover{
  background-image:url("Img/ad.png");
}
#rv:hover{
  background-image: url("Img/vd.png");
}
